<h1>Welcome to my blog!</h1>

<% @post = Post.new %>
<%= form_for(@post) do |p| %>

Author <div><%= p.text_field :author %></div>
Email <div><%= p.text_field :email %></div>

Blog post <div><%= p.text_area :body %></div>

<div><%= p.submit "save" %></div>

<% end %>
	
<% @posts.each do |post| %>

	<%= "#{post.author}: " %>
	<%= post.body %><br>
	<%= post.comments.pluck('text') %>


<%= form_for post.comments.build do |f| %>
		<%=  f.text_field :text %>
		<%= f.hidden_field :post_id %>
		<%=  f.submit "comment" %>
	<% end %>
<% end %>




