<h1>Welcome to my blog!</h1>

<% @post = Post.new %>
<%= form_for(@post) do |p| %>

Author <div><%= p.text_field :author %></div>
Email <div><%= p.text_field :email %></div>

Blog post <div><%= p.text_area :body %></div>

<div><%= p.submit "save" %></div>

<% end %>
	
<% @posts.each do |post| %>
  <div class="post-body">
  	<p>
      <%= "#{post.author}: " %>
  	  <%= post.body %><br>
    </p>
  </div>  
    
<h3>Comments</h3>
    <div class="comment"><% post.comments.each do |c| %>
      <%= "#{c.name}: "%>
      <%= c.text %><br>
    </div>
    <% end %>

<div class="comment-form">
<%= form_for post.comments.build do |f| %>
		<div>Name:    <%=  f.text_field :name %></div>
    <div>Comment: <%=  f.text_field :text %></div>
		<%= f.hidden_field :post_id %>
		<%=  f.submit "comment" %><br>
	<% end %>
<% end %>
</div>



